.messages{
    height: 85%;
    width: 76%;
    /* border: 2px solid purple; */

    margin: 1rem auto 1rem auto;

    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    scroll-behavior: smooth;
}

.messages::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

.message-item{
    height: auto;

    font-size: 1.1rem;

    padding: 0.6rem;
    border-radius: 1rem;
    
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    clear: both;
}

.user{
    width: auto;
    max-width: 60%;

    background-color: #4B6771;  
    color: white;
    margin-right: 2rem;  

    align-self: flex-end;
}

.assistant{
    max-width: 94%;
    
    background-color: #89AAAA;    
    color: black;
    
    align-self: flex-start;

    word-wrap: break-word;
}