.messages{
    height: 85%;
    width: 90%;
    /* border: 2px solid purple; */

    margin: 1rem auto 1rem auto;

    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.messages::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

.messageItem{
    height: auto;
    padding: 0.6rem;
    border-radius: 1rem;
}

.user{
    width: auto;
    max-width: 60%;
    display: inline-block;

    background-color: #ffff;  
    color: rgb(22, 21, 21);
    margin-right: 2rem;  
}

.assistant{
    width: 94%;
    
    background-color: rgb(219, 182, 113);    
    color: black;

    margin: 1rem auto 1rem auto;

    word-wrap: break-word;
}