.SideBar{
    width: 5%;
    height: 99.9vh;

    display: flex;
    /* border: 2px solid black; */
    background-color: #1E2A38;
}

.chatbot-icon-btn{
    height: 7%;
    width: 90%;
    margin: 4rem 0 0 0;

    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    outline: none;
}

.chatbot-icon-btn:hover{
    cursor: pointer;
    border: 0.05rem solid white;
}

.chatbot-icon-img{
    color: yellow;
    height: 100%;
    width: 100%;
}