.side-bar{
    width: 5%;
    height: 99.9vh;

    background-color: #1E2A38;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.sidebar-btn{
    height: 10%;
    width: 88%;
    
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    box-sizing: border-box;
}

.sidebar-btn:hover{
    cursor: pointer;
    border: 0.05rem solid gold;
}

.chatbot-icon-btn{
    margin: 4rem 0 0 0;
}

.sidebar-btn-img{
    height: 100%;
    width: 100%;
}

.code-editor-icon-btn{
    width: 91%;
    margin: 3rem 0 0 0;
}